<div class="order_container">
    <div *ngFor="let order of ordersList" class="order_items">
        <ul class="order_list" [class.selected]="order === selectedOrder">
            <li class="order_item clearfix">
                <div class="card-body pt-0">
                    <div class="widget-49">
                        <div class="widget-49-title-wrapper">
                            <div class="widget-49-date-primary">
                                <!-- <span class="widget-49-date-day">{{ order.id }}</span> -->
                            </div>
                            <div class="widget-49-meeting-info">
                                <span class="widget-49-pro-title">Order ID: <b>{{ order.id }}</b></span>
                                <span class="widget-49-pro-title">Customer ID: <b>{{ order.customerId }}</b></span>
                                <span class="widget-49-pro-title">Full Name: {{ order.date | date:'dd-MM-yyyy, HH:mm': 'GMT+2' }}</span>
                                <span class="widget-49-pro-title">Total price: {{ order.totalPrice | currency: 'EUR' }}</span>
                                <span class="widget-49-pro-title">No. of products: {{ order.orderProducts.length }}</span>
                            </div>
                        </div>
                        <div class="widget-49-meeting-action">
                            <a (click)="showOrder(order)" class="btn btn-sm btn-flash-border-primary">View All</a>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>