.carousel-inner .carousel-item {
    margin-left: 300px;
    /* margin-top: -80px; */
    height: 300px;
    width: 700px;
}

.item img {
    /* position: absolute; */
    top: 0;
    left: 0;
    /* object-fit:cover; */
    min-height: 300px;
}

#carouselExampleIndicators {
    float: left;
}
