<div class="d-flex align-items-center justify-content-center px-5 ms-xl-4 mt-5 pt-5">
    <div class="text-black">
        <form [formGroup]="checkoutForm" (ngSubmit)="submitForm(checkoutForm.value)" style="width: 23rem;">
            <h3 class="fw-normal mb-3 pb-3 text-center" style="letter-spacing: 1px;">Log in</h3>

            <div class="form-outline mb-4">
                <label class="form-label" for="email">Email address</label>
                <input type="email" id="email" class="form-control form-control-lg" formControlName="email" placeholder="email"/>
            </div>

            <div class="form-outline mb-4">
                <label class="form-label" for="password">Password</label>
                <input type="password" id="password" class="form-control form-control-lg" formControlName="password" placeholder="password"/>
            </div>

            <div class="pt-1 mb-4">
                <button class="btn btn-info btn-lg btn-block" type="submit" [disabled]="!checkoutForm.valid">Login</button>
            </div>

            <p>Don't have an account? <a class="link-info" [routerLink]="['/signup']">Register here</a></p>
        </form>
    </div>
</div>