<div *ngIf="ordersList.length === 0" class="d-flex justify-content-center" style="margin-top: 100px;">
    <h4>Make an order</h4>
</div>
<div class="cart_section d-flex align-items-center justify-content-center px-5 mt-2 pt-3">
    <div class="container-fluid">
        <div class="row" id="row">
            <div class="col-lg-4 offset-lg-1">
                <div class="cart_container"> 
                    <div *ngFor="let order of ordersList" class="cart_items" > 
                        <ul class="cart_list" [class.selected]="order === selectedOrder">
                            <li class="cart_item clearfix">
                                <div class="card-body pt-0">
                                    <div class="widget-49">
                                        <div class="widget-49-title-wrapper">
                                            <div class="widget-49-date-primary">
                                                <span class="widget-49-date-day">{{ order.date | date: 'd.MMM' }}</span>
                                            </div>
                                            <div class="widget-49-meeting-info">
                                                <span class="widget-49-pro-title">Order id: <b>{{ order._id }}</b></span>
                                                <span class="widget-49-meeting-time">{{ order.date | date: 'dd-MM-yyyy, HH:mm'}}</span>
                                            </div>
                                        </div>
                                        <ul class="widget-49-meeting-points">
                                            <li class="widget-49-meeting-item"><span>No. of items: {{ order.products.length }}</span></li>
                                            <li class="widget-49-meeting-item"><span>Total price: {{ order.totalPrice | currency }}</span></li>
                                        </ul>
                                        <div class="widget-49-meeting-action">
                                            <a (click)="showOrder(order)"  class="btn btn-sm btn-flash-border-primary">View All</a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div *ngIf="displayItems.length !== 0"  class="col-lg-3"> 
                <div *ngFor="let item of displayItems">
                    <ul class="cart_list" style="margin-left:200px;width: 800px;">
                        <li class="cart_item clearfix">
                            <div class="cart_item_image"><img src="{{ item.picture[0] }}" alt=""></div>
                            <div class="cart_item_info d-flex flex-md-row flex-column justify-content-between">
                                <div class="cart_item_name cart_info_col">
                                    <div class="cart_item_title">Name</div>
                                    <div class="cart_item_text">{{ item.name }}</div>
                                </div>
                                <div class="cart_item_quantity cart_info_col">
                                    <div class="cart_item_title">Quantity</div>
                                    <div class="cart_item_text">{{ item.quantity }}</div>
                                </div>
                                <div class="cart_item_price cart_info_col">
                                    <div class="cart_item_title">Price</div>
                                    <div class="cart_item_text">{{ item.price * item.quantity | currency: 'EUR'}}</div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <!-- <div class="order_total">
                    <div class="order_total_content text-md-right">
                        <div class="order_total_amount">{{ totalPrice | currency: 'EUR'}}</div>
                        <div class="order_total">Order Total:</div>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
</div>









<!-- 


<div *ngIf="displayItems.length !== 0"  class="cart_container"> 
    <div *ngFor="let item of displayItems" class="">
        <ul class="cart_list">
            <li class="cart_item clearfix">
                <div class="cart_item_image"><img src="{{ item.picture[0] }}" alt=""></div>
                <div class="cart_item_info d-flex flex-md-row flex-column justify-content-between">
                    <div class="cart_item_name cart_info_col">
                        <div class="cart_item_title">Name</div>
                        <div class="cart_item_text">{{ item.name }}</div>
                    </div>
                    <div class="cart_item_quantity cart_info_col">
                        <div class="cart_item_title">Quantity</div>
                        <div class="cart_item_text">{{ item.quantity }}</div>
                    </div>
                    <div class="cart_item_price cart_info_col">
                        <div class="cart_item_title">Price</div>
                        <div class="cart_item_text">{{ item.price * item.quantity | currency: 'EUR'}}</div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="order_total">
        <div class="order_total_content text-md-right">
            <div class="order_total_amount">{{ totalPrice | currency: 'EUR'}}</div>
            <div class="order_total">Order Total:</div>
        </div>
    </div>
</div> -->